#Data structure

#1. What are data structures, and why are they important?

  - Data structures are ways to organize and store data in a computer so it can
   be used efficiently. They're important because they help in optimizing time and space for operations like searching, sorting, insertion, and deletion.

     Common Types:
        
     List/Array: Ordered collection.

     Stack: Last-In-First-Out (LIFO).

     Queue: First-In-First-Out (FIFO).

     Set: Unordered, unique elements.

     Dictionary (Hash Map): Key-value pairs.

     Tree/Graph: Hierarchical or networked data.

   Example:
   
   grades = {'Arif': 90, 'Bob': 85}

   grades['Charlie'] = 88

   print(grades['Arif'])  # Output: 90

#2.Explain the difference between mutable and immutable data types with examplesP

  - Mutable data types can be changed after creation, while immutable ones cannot.   

  (a).Mutable Example: list

  my_list = [1, 2, 3]

  my_list.append(4)

  print(my_list)  # [1, 2, 3, 4]

  (b)Immutable Example: tuple

  my_tuple = (1, 2, 3)

  print(my_tuple)  # (1, 2, 3)

#3.What are the main differences between lists and tuples in Python?

  - Lists are mutable and slower, while tuples are immutable and faster.
  Example:

   my_list = [1, 2, 3]

   my_list.append(4)

   my_tuple = (1, 2, 3)

  #my_tuple.append(4) → Error: Tuples don’t support append

#4.*P Describe how dictionaries store data.

  - Dictionaries store data as key-value pairs using a hash table, which allows fast lookup by key.

  Example:

  person = {'name': 'Alice', 'age': 30}

  print(person['name'])

#5.(P Why might you use a set instead of a list in Python?

  - Use a set instead of a list when you need unique elements and fast membership checks.

  Example:
   
   nums = [1, 2, 2, 3]

   unique_nums = set(nums)

   print(unique_nums)  # {1, 2, 3}

#6.What is a string in Python, and how is it different from a list?

  - A string is an immutable sequence of characters.

  - A list is a mutable sequence that can hold different data types.

   Example:

  s = "hello"

  l = ['h', 'e', 'l', 'l', 'o']

   l[0] = 'H'

   print(l)

#7.How do tuples ensure data integrity in Python?

  - Tuples are immutable, so their contents can't be changed, making data safe from accidental modification.

  example:

  data = (101, "Alice", "HR")  # Cannot be altered

#8. What is a hash table, and how does it relate to dictionaries in Python

  - A hash table maps keys to values using a hash function. Python's dict uses this internally for fast key lookup.

   example:

   d = {'a': 1, 'b': 2}  # Keys are hashed for quick access

#9. Can lists contain different data types in Python

   - Yes, lists can hold mixed data types.

   example:

   mixed = [1, "hello", 3.14, True]

#10. Explain why strings are immutable in Python

 - Strings are immutable for memory efficiency and safety in multi-threading.
  
   s = "hello"

   # s[0] = 'H' → Error

#11. What advantages do dictionaries offer over lists for certain tasks

  - Dictionaries offer faster lookups by key, not position.

  example:

  info = {'id': 123, 'name': 'John'}  #Easier than indexing

#12.Describe a scenario where using a tuple would be preferable over a list.

  - Use a tuple when storing constant data, like coordinates.

  example:

  location = (35.6895, 139.6917)

#13.How do sets handle duplicate values in Python?

  - Sets automatically remove duplicates.

   example:

   s = set([1, 2, 2, 3])

    print(s)  #{1, 2, 3}

#14.How does the “in” keyword work differently for lists and dictionaries?

   - In a list, it checks values; in a dict, it checks keys.

  example:

  'key' in {'key': 1}     #True

  'val' in [1, 2, 3]      #False

#15.Can you modify the elements of a tuple? Explain why or why not.

 - No, because tuples are immutable.

  example:

  t = (1, 2, 3)

  #t[0] = 9 → Error


#16.What is a nested dictionary, and give an example of its use case?

 - A dictionary inside another. Useful for structured data.

   example:

   student = {'name': 'Ana', 'marks': {'math': 90, 'sci': 85}}


#17.Describe the time complexity of accessing elements in a dictionary.

  - Access is on average O(1) due to hash table use.

   example:

   d = {'a': 10}

   print(d['a'])  # Constant time


#18.In what situations are lists preferred over dictionaries?

  - When order and position-based access matter.
  
  example:

  colors = ['red', 'green', 'blue']

  print(colors[1])  # 'green'

#19.Why are dictionaries considered unordered, and how does that affect data retrieval?

  - Before Python 3.7, dictionaries didn’t keep insertion order. Retrieval is by key, not position.

  example:

  d = {'b': 2, 'a': 1}

  print(d['a'])  # Always by key

#20.Explain the difference between a list and a dictionary in terms of data retrieval.

 - List uses index, dictionary uses key.

  example:

  l = [10, 20]

   d = {'x': 10, 'y': 20}

   print(l[0])     #10

   print(d['x'])   #10

#Practical Question

In [ ]:
#1.Write a code to create a string with your name and print itP


'''
name = "Arif faisal"
print(name)

'''

In [ ]:
#2.Write a code to find the length of the string "Hello World".

'''
s = "Hello World"
print(len(s))  #11

'''

In [ ]:
#3.Write a code to slice the first 3 characters from the string "Python Programming".

'''
text = "Python Programming"
print(text[:3])  #Pyt

'''

In [ ]:
#4.Write a code to convert the string "hello" to uppercase.

'''
print("hello".upper())  #HELLO

'''

In [ ]:
#5.Write a code to replace the word "apple" with "orange" in the string "I like apple".

'''
s = "I like apple"
print(s.replace("apple", "orange"))

'''

In [ ]:
#6.Write a code to create a list with numbers 1 to 5 and print it.

'''
nums = [1, 2, 3, 4, 5]
print(nums)

'''

In [ ]:
#7.Write a code to append the number 10 to the list [1, 2, 3, 4]

'''
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)
'''

In [ ]:
#8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

'''
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

'''

In [ ]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

'''
letters = ['a', 'b', 'c', 'd']
print(letters[1])  # b
'''

In [ ]:
#10.Write a code to reverse the list [10, 20, 30, 40, 50].

'''
lst = [10, 20, 30, 40, 50]
lst.reverse()
print(lst)
'''

In [ ]:
#11.Write a code to create a tuple with the elements 100, 200, 300 and print it.

'''
t = (100, 200, 300)
print(t)
'''

In [ ]:
#12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

'''
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])  # blue
'''

In [ ]:
#!3.Write a code to find the minimum number in the tuple (10, 20, 5, 15).

'''
t = (10, 20, 5, 15)
print(min(t))  # 5
'''

In [ ]:
#14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

'''
animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))  # 1
'''

In [ ]:
#15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
'''
fruits = ('apple', 'banana', 'mango')
print('kiwi' in fruits)  # False
'''

In [ ]:
#16.Write a code to create a set with the elements 'a', 'b', 'c' and print it.
'''
my_set = {'a', 'b', 'c'}

print(my_set)
'''

In [ ]:
#17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}
'''
s = {1, 2, 3, 4, 5}
s.clear()
print(s)  # set()
'''

In [ ]:
#18.Write a code to remove the element 4 from the set {1, 2, 3, 4}.
'''
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)
'''

In [ ]:
#19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
'''
set1 = {1, 2, 3}
set2 = {3, 4, 5}

union_set = set1.union(set2)

print(union_set)

union_set_operator = set1 | set2
print(union_set_operator
'''

In [ ]:
#20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
'''
a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))  # {2, 3}
'''

In [ ]:
#21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
'''
person = {'name': 'John', 'age': 25, 'city': 'New York'}
print(person)
'''

In [ ]:
#22.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
'''
my_dict = {'name': 'John', 'age': 25}
my_dict['country'] = 'USA'
print(my_dict)
'''

In [ ]:
#23.Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
'''
my_dict = {'name': 'Alice', 'age': 30}
name_value = my_dict['name']
print(name_value)
'''

In [ ]:
#24.Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
'''
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict['age']
print(my_dict)
'''

In [ ]:
#25.Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
'''
my_dict = {'name': 'Alice', 'city': 'Paris'}
if 'city' in my_dict:
    print("The key 'city' exists in the dictionary.")
else:

  print("The key 'city' does not exist in the dictionary.")

'''

In [ ]:
#26.Write a code to create a list, a tuple, and a dictionary, and print them all.
'''
my_list = [1, 2, 'apple', True]
print("List:", my_list)

my_tuple = (10, 'banana', False)
print("Tuple:", my_tuple)

my_dict = {'name': 'Charlie', 'age': 35, 'city': 'London'}
print("Dictionary:", my_dict)
'''

In [ ]:
#27.Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

'''
import random

# Create a list of 5 random numbers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(5)]

# Sort the list in ascending order
random_numbers.sort()

# Print the sorted list
print("Sorted list of random numbers:", random_numbers)
'''

In [ ]:
#28.Write a code to create a list with strings and print the element at the third index.
'''
my_list = ["apple", "banana", "cherry", "date", "elderberry"]
print(my_list[2])
'''

In [ ]:
#29.Write a code to combine two dictionaries into one and print the result.
'''
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
merged_dict = {**dict1, **dict2}
print(merged_dict)
'''

In [ ]:
#30.Write a code to convert a list of strings into a set.
'''
my_list = ["apple", "banana", "cherry", "apple", "date"]
my_set = set(my_list)
print(my_set)
'''